*{
    margin: 0;
    padding: 0;
    font-family: "playfair display", italic;
    box-sizing: border-box;
}

/************HERO SECTION************/
.hero_section{
   background-color: white;
   padding-bottom: 20px;
   height: 90vh;
   width: 100%;
}

/************ NAVBAR ************/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 16px 45px;
    background-color: lightgray;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.navbar_menu_container{
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.user_icon{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.hero_section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 70%;
    position: relative;
    padding: 20px;
    text-align: center;
}

.hero_section_container img{
    height: 585.5px;
    width: 90rem;
    display: flex;
    align-items: center;
    margin-top: 10rem;
    background: url(/bg_image.png) white 50% / cover no-repeat;
}

.hero_section_title{
    position: absolute;
    margin-bottom: 5%;
    color: black;
    font-size: 40px;
    text-align: center;
}

.hero_section_input_container{
    position: absolute;
    margin-top: 3%;
}

@media only screen and (max-width: 700px){
    .user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero_section{
        min-height: 300px;
    }
    .hero_section_title{
        height: 18%;
        font-size: 30px;
        font-weight: 400;
        display: flex;
        margin-top: -2.8rem;
    }
    .hero_section_container{
        width: 90%;
    }
    .hero_section_input_container{
        width: 80%;
    }
    .hero_section_container img{
        display: flex;
        
    }
}

/*================= NEWS SECTION ================= */
.our_news{
    margin: 0;
    padding: 0;
    margin-left: 4rem;
    text-align: center;
    height: 400px;
    margin-top: 3rem;
}

.our_news h2{
    font-size: 28px;
    font-weight: 100;
}

.our_news h1{
    font-size: 40px ;
}

.semicontainer{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.left p{
    display: flex;
    align-items: center;
    text-align: left;
    height: 100px;
    font-size: 19px;
}

.left button{
    border: none;
    background-color: green;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    color: antiquewhite;
    border-radius: 14px;
}

.right img{
    margin-top: 3rem;
    max-width: 100%;
    max-height: 300px;
}

@media only screen and (max-width: 700px){
    .left p{
        flex: 1;
    }
    .semicontainer{
        width: 80%;
    }
}

/*================= NEWS detection page ================= */
.detect_news{
    margin: 100%;
    padding: 0;
    margin-left: 4rem;
    text-align: center;
    height: 60px;
    margin-top: 3rem;
    width: 100%;
}

.detect_news h1{
    font-size: 30px;
}

.false_or_true p{
    font-size: 19px;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    width: 90%;
}

.input_container_news{
    display: flex;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: rgba(0, 0, 0, 0.50);
    color: white;
    border-radius: 18px;
    width: 93%;
    align-items: center;
}

.input_container_news::placeholder{
    color: white;
    font-size: 19px;
}
