*{
    margin: 0;
    padding: 0;
    font-family: "playfair display", italic;
    box-sizing: border-box;
}

/************HERO SECTION************/
.hero_section{
   background-color: rgb(110,107,107);
   background-image: radial-gradient(circle, rgba(110,107,107,1) 0%, rgba(0,0,0,1) 100%);
   background-blend-mode: overlay;
   padding-bottom: 20px;
   height: 430px;
}

/************ NAVBAR ************/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 16px 45px;
    background-color: black;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navbar_menu_container{
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.user_icon{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.hero_section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 70%;
    position: relative;
    padding: 20px;
    text-align: center;
}

.hero_section_title{
    margin-top: 1rem;
    color: white;
    font-size: 40px;
    text-align: center;
}

.fa-magnifying-glass{
    align-self: auto;
    padding: 10px 20px;
    size: 0.5rem;
    cursor: pointer;
}

.hero_section_input_container{
    width: 60%;
}

.hero_section_input_container, .input ,.input_container_news{
    padding: 10px;
    justify-content: center;
    border: none;
    outline: none;
    text-align: left;
    font-size: 18px;
    height: 29px;
    text-overflow: none;
    border-radius: 10px;
    display: flex;
    width: 65%;
}

@media only screen and (max-width: 700px){
    .user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero_section{
        min-height: 300px;
    }
    .hero_section_title{
        height: 10%;
        font-size: 30px;
        font-weight: 100;
        text-overflow: none;
    }
}

/********NEWS SECTION ************/
.our_news_section{
    background-color: black;
    margin: 0rem auto;
    width: 100%;
}

.our_news_section{
    display: flex;
    flex-wrap: wrap;  
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.offer_img img{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.offer_img:hover{
    transform: scale(1.05);
}

.our_offer img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.our_offer, .img{
    height: 100rem;
}

.offer_img h2{
    width: 100%;
    font-size: 20px;
    font-weight: 200;
    color: white;
}