*{
    margin: 0;
    padding: 0;
    font-family: "playfair display", italic;
}

/************HERO SECTION************/
.hero_section{
    background-clip: url(images/v1.mp4);
    min-height: 100%;
    background-size: cover;
    background-position: center;
    color: black;
}

/************ NAVBAR ************/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 16px 45px;
    background-color: black;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navbar_menu_container{
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.user_icon{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.hero_section_container{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: calc(60vh-60px);
}

.hero_section_title{
    position: absolute;
    align-items: center;
    top: 40%;
    z-index: 1;
    color: white;
    font-size: 70px;
}

.hero_section_input_container{
    position: absolute;
    top: 52%;
}

.hero_section_vid{
    position: absolute;
    top: 11%;
    width: 100%;
    height: auto;
    z-index: -1;
}

.hero_section_input_container, .input ,.input_container_news{
    padding: 10px;
    justify-content: center;
    border: none;
    outline: none;
    text-align: left;
    font-size: 20px;
    height: 20px;
    text-overflow: none;
    border-radius: 10px;
    display: flex;
    width: 80%;
}

@media only screen and (max-width: 700px){
    .user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero_section{
        min-height: 300px;
    }
    .hero_section_title{
        height: 10%;
        font-size: 30px;
        font-weight: 100;
        text-overflow: none;
    }
    .hero_section_vid{
        height: 450px;
        width: 800px;
    }
}

/********NEWS SECTION ************/
